# Minimum and maximum terrain height at which castle spawns.
min-terrain-height = 16
max-terrain-height = 128

# Average distance is chunks between two castles, must be at least 1.
spacing = 64

# Minimum distance is chunks between two castles, must be lower than spacing and grater or equal 0.
separation = 8

# Minimum and maximum castle size.
max-castle-size = 8
min-castle-size = 6

# Chance of spawner and chest in castle hallway. Their sum should not be bigger than 100%.
spawner-chance = 40%
chest-chance = 10%

# Custom spawner logic.
spawner-logic = {Delay:10,MaxNearbyEntities:2,MaxSpawnDelay:20,MinSpawnDelay:10,RequiredPlayerRange:4,SpawnCount:2,SpawnRange:4}
